:root { 
    --color-primary: #293356; 
    --color-secondary: #203CA7; 
    --color-accent: #89b9eb; 
    --color-bg: #16232C; 
    --color-surface: #617da9; 
    --color-text: #14285B; 
} 

img { 
    max-width: 100%; 
    height: auto;   
    display: block;
  margin-left: auto;
  margin-right: auto;     
}

.main-nav {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 1rem;
    background-color: var(--color-surface);
} 
.main-nav {
    display: flex;
    justify-content: center;
    gap: 15px; 
    padding: 1rem;
    background-color: var(--color-surface);
}
.main-nav__link {
    display: inline-flex;        
    align-items: center;          
    gap: 8px;                   
    
    padding: 8px 16px;             
    border: 2px solid var(--color-primary);
    border-radius: 8px;           
    background-color: var(--color-accent); 
    color: var(--color-primary);   
    text-decoration: none;         
    font-weight: bold;
    transition: all 0.2s ease;     
}
.main-nav__link:hover {
    background-color: var(--color-primary);
    color: var(--color-surface);
    transform: translateY(-2px); 
}

.tabla2 {
    background-color: var(--color-accent);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.tabla2 th {
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-color: var(--color-bg);
    padding: 10px;
}

.tabla2 .division {
    background-color: white;
}

.tabla2 td {
    padding: 10px;
}

.tabla2 .description {
    text-align: center;
    font-weight: bold;
    color: var(--color-primary);
}

.tabla2 h2 {
    color: var(--color-text);
    -webkit-text-stroke: 0.5px var(--color-primary);
    font-weight: bold;
    font-size: 30px;
    text-align: center;  
}

.tabla {
    background-color: var(--color-bg);
    border-radius: 10px;
    padding: 15px;
    margin: 10px;

}

.tabla h2 {
    color: white;
    -webkit-text-stroke: 0.5px var(--color-primary);
    font-weight: bold;
    font-size: 30px;
    text-align: center;    
}

.tabla .secciones {
    background-color: var(--color-accent);
    padding: 5px;
    margin: 15px;
}

.tabla summary {
    font-weight: bold;
    font-size: 20px;
}

.tabla summary:hover {
    color: var(--color-text);
    font-size: 25px;
}

.tabla p {
    text-align: center;
}

.tabla .caption {
    text-align: center;
    font-weight: bold;
}


















.site-footer {
    background-color: var(--color-primary);
    padding: 2rem 1rem;
    margin-top: 3rem;
}

.card {
    background-color: var(--color-accent);    
    border: 2px solid var(--color-surface);  
    border-radius: 12px;                     
    max-width: 400px;                         
    margin: 0 auto;                           
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.card-body {
    padding: 1.5rem;
    text-align: center;
    color: var(--color-primary);              
}

.card-text {
    margin: 0 0 0.5rem 0;
    font-weight: bold;
}

.card-address {
    font-style: normal;
    color: var(--color-text);
}




